.sr-only {
  overflow: hidden;
}

body {
  margin: 0;
  margin-top: 1.87em;
}

@font-face {
  font-family: DM_Sans;
  src: url(./font/DM-Sans/DMSans-Bold.ttf);
  src: url(./font/DM-Sans/DMSans-BoldItalic.ttf);
  src: url(./font/DM-Sans/DMSans-Italic.ttf);
  src: url(./font/DM-Sans/DMSans-Medium.ttf);
  src: url(./font/DM-Sans/DMSans-MediumItalic.ttf);
  src: url(./font/DM-Sans/DMSans-Regular.ttf);
}
body {
  font-family: DM_Sans;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0em 6em;
}
header #logo {
  margin-top: 0.62em;
  width: 15em;
}
header nav {
  margin-right: 19.4em;
}
header nav .tags {
  display: flex;
  list-style: none;
}
header nav .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
header nav .tags li span {
  color: #901c1c;
}
header nav .tags li .tag {
  color: #901c1c;
  text-decoration: none;
}
header nav .tags a:link {
  text-decoration: none;
}

/* For screen bigger than 1700px */
@media screen and (min-width: 1700px) {
  header nav {
    margin-right: 30em;
  }
}
/* For screen between 1535px and 1699px */
@media screen and (min-width: 1535px) and (max-width: 1699px) {
  header nav {
    margin-right: 25em;
  }
}
/* For screen smaller than 1450px */
@media screen and (max-width: 1450px) {
  header {
    flex-direction: column;
  }
  header nav {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}
/* For screen smaller than 1075px */
@media screen and (max-width: 1075px) {
  header nav {
    margin-right: 0;
  }
  header nav .tags {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
/* For screen between 900px and 600px */
@media screen and (max-width: 900px) {
  header {
    margin: 0 2em;
  }
  header nav {
    margin-left: 5%;
  }
}
/* For screen smaller than 700px */
@media screen and (max-width: 700px) {
  header nav {
    margin-top: 2em;
    margin-left: 0;
  }
}
/* For screen smaller than 560px */
@media screen and (max-width: 560px) {
  header #logo img {
    width: 10em;
  }
}
main img {
  width: 19em;
  height: 19em;
  border-radius: 9.5em;
  object-fit: cover;
}
main .h1-index {
  color: #901c1c;
  font-size: 2.25em;
  position: absolute;
  top: 0.8em;
  right: 2.5em;
  margin-top: 0.3em;
}
main .Photographers {
  margin-top: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .Photographers .tags {
  display: flex;
  list-style: none;
}
main .Photographers .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
main .Photographers .tags li span {
  color: #901c1c;
}
main .Photographers .tags li .tag {
  color: #901c1c;
  text-decoration: none;
}
main .Photographers .tags a:link {
  text-decoration: none;
}
main .Photographers article {
  margin: 0em 0em 3em 0em;
  text-align: center;
  justify-content: space-between;
  width: 30em;
}
main .Photographers article a {
  text-decoration: none;
}
main .Photographers article h2 {
  color: #d3573c;
  font-size: 2.25em;
  margin-bottom: 0.3em;
}
main .Photographers article .city {
  color: #901c1c;
  font-size: 1.3em;
  margin: 0;
}
main .Photographers article .slogan {
  margin: 0;
}
main .Photographers article .prices {
  color: gray;
  margin: 0;
}
main .Photographers article .tags {
  justify-content: center;
  padding-right: 2.3em;
}

/* For screen smaller than 730px */
@media screen and (max-width: 730px) {
  main .h1-index {
    position: absolute;
    right: 0.5em;
  }
}
/* For screen smaller than 560px */
@media screen and (max-width: 560px) {
  main .h1-index {
    top: 2.2em;
    right: 1em;
    font-size: 1.2em;
  }
}
main .scroll-link {
  display: none;
  background-color: #db8876;
  position: fixed;
  top: 0;
  left: 44%;
  padding: 0.31em 0.94em;
  border-radius: 0.31em;
  font-weight: bold;
}
main .scroll-link a {
  text-decoration: none;
  color: black;
}

/* For screen smaller than 700px */
@media screen and (max-width: 700px) {
  main .scroll-link {
    left: 37%;
  }
}
/* For screen smaller than 600px */
@media screen and (max-width: 600px) {
  main .scroll-link {
    left: 34%;
  }
}
/* For screen smaller than 400px */
@media screen and (max-width: 400px) {
  main .scroll-link {
    left: 30%;
  }
}
#main-page-photographer {
  margin: 2em 6em;
}
#main-page-photographer .page-photographer .header-main {
  display: flex;
  background-color: #fafafa;
  position: relative;
}
#main-page-photographer .page-photographer .header-main .header-left {
  margin: 0em 6em 0em 3.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .tags {
  display: flex;
  list-style: none;
}
#main-page-photographer .page-photographer .header-main .header-left .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#main-page-photographer .page-photographer .header-main .header-left .tags li span {
  color: #901c1c;
}
#main-page-photographer .page-photographer .header-main .header-left .tags li .tag {
  color: #901c1c;
  text-decoration: none;
}
#main-page-photographer .page-photographer .header-main .header-left .tags a:link {
  text-decoration: none;
}
#main-page-photographer .page-photographer .header-main .header-left .tags {
  padding-left: 0;
  margin-bottom: 2.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact {
  display: flex;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact .h1-page-photographer {
  color: #d3573c;
  font-size: 4em;
  margin-right: 1em;
  margin-bottom: 0;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact button {
  background-color: #901c1c;
  color: white;
  border: #901c1c;
  border-radius: 0.31em;
  height: 3em;
  font-size: 1em;
  padding: 0em 1em;
  margin: 5em 10em 0em 0em;
  cursor: pointer;
}
#main-page-photographer .page-photographer .header-main .header-left .city {
  color: #901c1c;
  font-size: 1.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .slogan {
  color: gray;
  font-size: 1em;
}
#main-page-photographer .page-photographer .header-main aside {
  position: absolute;
  right: 1em;
}
#main-page-photographer .page-photographer .header-main aside img {
  margin-top: 3.75em;
  width: 14em;
  height: 14em;
}
#main-page-photographer .select-filters {
  display: flex;
  margin-top: 1em;
  position: relative;
}
#main-page-photographer .select-filters label {
  font-weight: bold;
  margin-right: 1em;
  margin-top: 1em;
}
#main-page-photographer .select-filters .dropdown-filters {
  background-color: #901c1c;
  border-radius: 0.31em;
  padding: 0em 1em 0em 1em;
  position: absolute;
  left: 100px;
  z-index: 1;
}
#main-page-photographer .select-filters .dropdown-filters button {
  color: white;
  background-color: #901c1c;
  border-color: transparent;
  font-family: DM_Sans;
  font-size: 1em;
  padding: 0.9em 0em 0.5em 0.4em;
}
#main-page-photographer .select-filters .dropdown-filters button .arrow {
  margin-left: 1em;
  cursor: pointer;
}
#main-page-photographer .select-filters .dropdown-filters button i {
  margin-left: 1em;
}
#main-page-photographer .select-filters .dropdown-filters button img {
  width: 1em;
  height: 0.7em;
  margin-left: 1em;
}
#main-page-photographer .select-filters .dropdown-filters a {
  text-decoration: none;
  color: white;
  padding-left: 0.5em;
  cursor: pointer;
}
#main-page-photographer .select-filters .dropdown-filters a span {
  margin-right: 1.2em;
}
#main-page-photographer .select-filters .dropdown-filters ul {
  list-style: none;
  padding-left: 0;
  display: none;
}
#main-page-photographer .select-filters .dropdown-filters ul li:first-child {
  border-top: none;
  padding-top: 0;
}
#main-page-photographer .select-filters .dropdown-filters ul .arrow-down {
  color: white;
  margin-left: 1em;
  cursor: pointer;
}
#main-page-photographer .select-filters .dropdown-filters ul li {
  border-top: 1px solid white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
#main-page-photographer .select-filters {
  margin-bottom: 3em;
}
#main-page-photographer .select-filters select {
  background-color: #901c1c;
  color: white;
  font-family: DM_Sans;
  border-radius: 0.31em;
  border-color: #901c1c;
}
#main-page-photographer .select-filters select .date {
  background-color: red !important;
}
#main-page-photographer .medias {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main-page-photographer .medias .block-media {
  margin-bottom: 0.5em;
}
#main-page-photographer .medias .block-media .media-img-video {
  border-radius: 0.31em;
  object-fit: cover;
  width: 19em;
  height: 19em;
  cursor: pointer;
}
#main-page-photographer .medias .block-media .title-and-likes {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
}
#main-page-photographer .medias .block-media .title-and-likes .number-heart {
  display: flex;
  cursor: pointer;
}
#main-page-photographer .medias .block-media .title-and-likes .number-heart .like {
  font-weight: bold;
}
#main-page-photographer .medias .block-media .title-and-likes .number-heart i {
  margin-left: 0.3em;
}

/* For screen smaller than 870px */
@media screen and (max-width: 870px) {
  #main-page-photographer .page-photographer .header-main .header-left .name-and-contact button {
    position: fixed;
    bottom: 0;
    left: 45%;
    margin: 0em 0em 1.5em 0em;
    height: 2em;
  }
}
/* For screen smaller than 780px */
@media screen and (max-width: 780px) {
  #main-page-photographer .page-photographer .header-main aside {
    right: 0em;
  }
  #main-page-photographer .page-photographer .header-main aside img {
    width: 10em;
    height: 10em;
  }
  #main-page-photographer .medias {
    justify-content: center;
  }
}
/* For screen smaller than 600px */
@media screen and (max-width: 600px) {
  #main-page-photographer {
    margin: 2em 1em;
  }
  #main-page-photographer .page-photographer .header-main {
    background-color: white;
  }
  #main-page-photographer .page-photographer .header-main .header-left {
    margin-left: 0.5em;
  }
  #main-page-photographer .page-photographer .header-main .header-left .name-and-contact .h1-page-photographer {
    font-size: 2.5em;
    margin-top: 0;
  }
  #main-page-photographer .page-photographer .header-main .header-left .name-and-contact button {
    left: 29%;
    font-size: 1.3em;
  }
  #main-page-photographer .page-photographer .header-main .header-left .city {
    font-size: 1em;
    margin: 0;
  }
  #main-page-photographer .page-photographer .header-main .header-left .slogan {
    margin: 0;
  }
  #main-page-photographer .page-photographer .header-main .tags {
    margin-top: 0;
  }
  #main-page-photographer .page-photographer .header-main .tags .tag li {
    padding-top: 0;
  }
  #main-page-photographer .page-photographer .header-main .tags .tag li span {
    font-size: 0.8em;
  }
  #main-page-photographer .page-photographer .header-main aside {
    bottom: 4.5em;
    right: 0em;
  }
  #main-page-photographer .page-photographer .header-main aside img {
    width: 7.5em;
    height: 7.5em;
  }
  #main-page-photographer .select-filters {
    display: none;
  }
  #main-page-photographer .medias {
    justify-content: center;
  }
  #main-page-photographer .medias .block-media {
    margin-bottom: 0;
  }
  #main-page-photographer .medias .block-media .media-img-video {
    width: 23em;
    height: 13em;
  }
}
body .form-contact {
  display: none;
}
body .form-contact .modal {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
body .form-contact .modal .modal-content {
  background-color: #db8876;
  border-radius: 0.3em;
  width: 25em;
  max-width: calc(100vw - 1.25em);
  max-height: calc(100vh - 1.25em);
  padding: 0em 1.25em 1.25em 1.25em;
  overflow: auto;
  /* error message for input */
}
body .form-contact .modal .modal-content #form {
  /* red border for input with error message */
}
body .form-contact .modal .modal-content #form label {
  font-size: 1.2em;
}
body .form-contact .modal .modal-content #form input {
  border: none;
  border-radius: 0.3em;
  width: 100%;
  height: 2.2em;
}
body .form-contact .modal .modal-content #form .text-control-message {
  height: 10em;
  overflow: auto;
}
body .form-contact .modal .modal-content #form .border-red {
  border: 0.2em solid red;
}
body .form-contact .modal .modal-content .header-form {
  position: relative;
}
body .form-contact .modal .modal-content .header-form #titlemodal {
  font-size: 2.5em;
  margin-top: 0.3em;
  max-width: 9em;
}
body .form-contact .modal .modal-content .header-form .close-form {
  background-color: #db8876;
  color: white;
  border: none;
  font-size: 2em;
  position: absolute;
  top: 0.3em;
  right: 0em;
  cursor: pointer;
}
body .form-contact .modal .modal-content .alert-msg {
  font-size: 1em;
  color: #700909;
  margin-bottom: 1em;
  display: none;
}
body .form-contact .modal .modal-content #send {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 1em 2em;
  margin-top: 1.5em;
  cursor: pointer;
}

.lightbox {
  z-index: 11;
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  padding-top: 2.5em;
}
.lightbox .lightbox-next,
.lightbox .lightbox-previous,
.lightbox .lightbox-close {
  color: #901c1c;
  background-color: transparent;
  border: none;
  font-size: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}
.lightbox .close-next {
  position: relative;
}
.lightbox .close-next .lightbox-next {
  height: 91%;
}
.lightbox .close-next .lightbox-close {
  position: absolute;
  right: 0.1em;
}
.lightbox .lightbox-container {
  justify-content: center;
  margin: 0em 1em;
}
.lightbox .lightbox-container img {
  max-width: 100%;
  height: 87%;
  object-fit: cover;
  border-radius: 0.31em;
}
.lightbox .lightbox-container video {
  max-width: 100%;
  width: 100%;
  height: 87%;
  object-fit: cover;
  border-radius: 0.31em;
}
.lightbox .lightbox-container p {
  color: #901c1c;
  margin-top: 0.2em;
}

/* For screen smaller than 600px */
@media screen and (max-width: 600px) {
  .lightbox .lightbox-previous {
    margin-bottom: 1.3em;
  }
  .lightbox .close-next .lightbox-next {
    height: 94%;
  }
  .lightbox .close-next .lightbox-close {
    top: 6.7em;
  }
  .lightbox .lightbox-container {
    display: flex;
    flex-direction: column;
  }
  .lightbox .lightbox-container img {
    height: 16em;
  }
  .lightbox .lightbox-container video {
    height: 19em;
  }
}
.likes-and-price {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 3em;
  padding: 0em 1em 0em 1em;
  display: flex;
  border-radius: 0.3em;
}
.likes-and-price .counter-like {
  margin-right: 3em;
}
.likes-and-price .counter-like span {
  margin-right: 0.3em;
}

/* For screen smaller than 780px */
@media screen and (max-width: 780px) {
  .likes-and-price {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
