@charset "UTF-8";
.sr-only {
  overflow: hidden;
}

body {
  margin: 0;
  margin-top: 1.87em;
}

@font-face {
  font-family: DM_Sans;
  src: url(/font/DM_Sans/DMSans-Bold.ttf);
  src: url(/font/DM_Sans/DMSans-BoldItalic.ttf);
  src: url(/font/DM_Sans/DMSans-Italic.ttf);
  src: url(/font/DM_Sans/DMSans-Medium.ttf);
  src: url(/font/DM_Sans/DMSans-MediumItalic.ttf);
  src: url(/font/DM_Sans/DMSans-Regular.ttf);
}
body {
  font-family: DM_Sans;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0em 6em;
}
header #logo {
  margin-top: 0.62em;
}
header nav {
  margin-right: 19.4em;
}
header nav .tags {
  display: flex;
  list-style: none;
}
header nav .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
header nav .tags a:link {
  text-decoration: none;
}

/* Pour écran plus petit que 1440px */
@media screen and (max-width: 1440px) {
  header nav {
    margin-left: 20%;
  }
}
main img {
  width: 19em;
  height: 19em;
  border-radius: 9.5em;
  object-fit: cover;
}
main .h1-index {
  color: #901c1c;
  font-size: 2.25em;
  position: absolute;
  top: 0.8em;
  right: 0;
  margin-top: 0.3em;
}
main .Photographers {
  margin-top: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .Photographers .tags {
  display: flex;
  list-style: none;
}
main .Photographers .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
main .Photographers .tags a:link {
  text-decoration: none;
}
main .Photographers article {
  margin: 0em 0em 3em 0em;
  text-align: center;
  justify-content: space-between;
  width: 30em;
}
main .Photographers article a {
  text-decoration: none;
}
main .Photographers article h2 {
  color: #d3573c;
  font-size: 2.25em;
  margin-bottom: 0.3em;
}
main .Photographers article .city {
  color: #901c1c;
  font-size: 1.3em;
  margin: 0;
}
main .Photographers article .slogan {
  margin: 0;
}
main .Photographers article .prices {
  color: gray;
  margin: 0;
}
main .Photographers article .tags {
  justify-content: center;
  padding-right: 2.3em;
}

main .scroll-link {
  display: none;
  background-color: #d3573c;
  position: fixed;
  top: 0;
  left: 44%;
  padding: 0.31em 0.94em;
  border-radius: 0.31em;
  font-weight: bold;
}
main .scroll-link a {
  text-decoration: none;
  color: black;
}

#main-page-photographer {
  margin: 2em 6em;
}
#main-page-photographer .page-photographer .header-main {
  display: flex;
  background-color: #fafafa;
}
#main-page-photographer .page-photographer .header-main .header-left {
  margin: 0em 6em 0em 3.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .tags {
  display: flex;
  list-style: none;
}
#main-page-photographer .page-photographer .header-main .header-left .tags li {
  color: #901c1c;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#main-page-photographer .page-photographer .header-main .header-left .tags a:link {
  text-decoration: none;
}
#main-page-photographer .page-photographer .header-main .header-left .tags {
  padding-left: 0;
  margin-bottom: 2.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact {
  display: flex;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact .h1-page-photographer {
  color: #d3573c;
  font-size: 4em;
  margin-right: 2em;
  margin-bottom: 0;
}
#main-page-photographer .page-photographer .header-main .header-left .name-and-contact button {
  background-color: #901c1c;
  color: white;
  border: #901c1c;
  border-radius: 0.31em;
  height: 3em;
  font-size: 1em;
  padding: 0em 1em;
  margin: 5em 10em 0em 0em;
}
#main-page-photographer .page-photographer .header-main .header-left .city {
  color: #901c1c;
  font-size: 1.5em;
}
#main-page-photographer .page-photographer .header-main .header-left .slogan {
  color: gray;
  font-size: 1em;
}
#main-page-photographer .page-photographer .header-main aside img {
  margin-top: 3.75em;
}
#main-page-photographer .select-filters {
  display: flex;
  margin-top: 1em;
}
#main-page-photographer .select-filters label {
  font-weight: bold;
  margin-right: 1em;
  margin-top: 0.5em;
}
#main-page-photographer .select-filters .dropdown-filters {
  background-color: #901c1c;
  border-radius: 0.31em;
  padding: 0.3em 1em 0em 1em;
}
#main-page-photographer .select-filters .dropdown-filters button {
  color: white;
  background-color: #901c1c;
  border-color: transparent;
  font-family: DM_Sans;
  font-size: 1em;
}
#main-page-photographer .select-filters .dropdown-filters a {
  text-decoration: none;
  color: white;
  padding-left: 0.5em;
}
#main-page-photographer .select-filters .dropdown-filters a span {
  margin-right: 1.2em;
}
#main-page-photographer .select-filters .dropdown-filters ul {
  list-style: none;
  padding-left: 0;
  display: none;
}
#main-page-photographer .select-filters .dropdown-filters ul li {
  border-top: 1px solid white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
#main-page-photographer .select-filters select {
  background-color: #901c1c;
  color: white;
  font-family: DM_Sans;
  border-radius: 0.31em;
  border-color: #901c1c;
}
#main-page-photographer .select-filters select .date {
  background-color: red !important;
}

/*# sourceMappingURL=style.css.map */
