main {
  img {
    width: 19em;
    height: 19em;
    border-radius: 9.5em;
    object-fit: cover;
  }
  h1 {
    color: $primary-color;
    position: absolute;
    right: 2em;
    top: 1em;
  }
  .Photographers {
    margin-top: 10em;
    width: 22em;
    display: flex;
    @include tags;
    article {
      margin: 0em 8em 3em 0em;
      text-align: center;
      a {
        text-decoration: none;
      }
      h2 {
        color: $secondary-color;
        font-size: 3em;
        margin-bottom: 0.3em;
      }
      .city {
        color: $primary-color;
        font-size: 1.3em;
        margin: 0;
      }
      .slogan {
        margin: 0;
      }
      .prices {
        color: gray;
        margin: 0;
      }
      .tags {
        justify-content: center;
        padding-right: 2.3em;
      }
    }
  }
}
