header {
  display: flex;
}

#logo {
  margin-top: 10px;
}

nav {
  ul {
    display: flex;
    list-style: none;
    li {
      color: $primary-color;
      border: 1px solid gray;
      border-radius: 30px;
      padding: 5px;
      margin: 5px;
    }
    a:link {
      text-decoration: none;
    }
  }
}
