main {
  img {
    width: 19em;
    height: 19em;
    border-radius: 9.5em;
    object-fit: cover;
  }

  .h1-index {
    color: $primary-color;
    font-size: 2.25em;
    position: absolute;
    top: 0.8em;
    right: 2.5em;
    margin-top: 0.3em;
  }

  .Photographers {
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tags;
    article {
      margin: 0em 0em 3em 0em;
      text-align: center;
      justify-content: space-between;
      width: 30em;
      a {
        text-decoration: none;
      }
      h2 {
        color: $tertiary-color;
        font-size: 2.25em;
        margin-bottom: 0.3em;
      }
      .city {
        color: $primary-color;
        font-size: 1.3em;
        margin: 0;
      }
      .slogan {
        margin: 0;
      }
      .prices {
        color: gray;
        margin: 0;
      }
      .tags {
        justify-content: center;
        padding-right: 2.3em;
      }
    }
  }
}

/* For screen smaller than 730px */
@media screen and (max-width: 730px) {
  main {
    .h1-index {
      position: absolute;
      right: 0.5em;
    }
  }
}

/* For screen smaller than 560px */
@media screen and (max-width: 560px) {
  main {
    .h1-index {
      top: 2.2em;
      right: 1em;
      font-size: 1.2em;
    }
  }
}
