header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0em 6em;
  #logo {
    margin-top: 10px;
  }
  nav {
    @include tags;
    margin-right: 19.4em;
  }
}

/* Pour écran plus petit que 1440px */
@media screen and (max-width: 1440px) {
  header {
    nav {
      margin: 3.75em 0 0 -15em;
    }
  }
}
