body {
  .form-contact {
    display: none;
    .modal {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      .modal-content {
        background-color: $secondary-color;
        border-radius: 0.3em;
        width: 25em;
        max-width: calc(100vw - 1.25em);
        max-height: calc(100vh - 1.25em);
        padding: 0em 1.25em 1.25em 1.25em;
        overflow: auto;
        #form {
          label {
            font-size: 1.2em;
          }
          input {
            border: none;
            border-radius: 0.3em;
            width: 100%;
            height: 2.2em;
          }
          .text-control-message {
            height: 10em;
            overflow: auto;
          }
          /* red border for input with error message */
          .border-red {
            border: 0.2em solid red;
          }
        }
        .header-form {
          position: relative;
          #titlemodal {
            font-size: 2.5em;
            margin-top: 0.3em;
            max-width: 9em;
          }
          .close-form {
            background-color: $secondary-color;
            color: white;
            border: none;
            font-size: 2em;
            position: absolute;
            top: 0.3em;
            right: 0em;
            cursor: pointer;
          }
        }
        /* error message for input */
        .alert-msg {
          font-size: 1em;
          color: #700909;
          margin-top: 0.62em;
          margin-bottom: 0.44em;
          display: none;
          white-space: pre-line;
        }
        #send {
          background-color: $primary-color;
          color: white;
          border: none;
          border-radius: 0.3em;
          padding: 1em 2em;
          margin-top: 1.5em;
          cursor: pointer;
        }
      }
    }
  }
}
