#main-page-photographer {
  margin: 2em 6em;
  .page-photographer {
    .header-main {
      display: flex;
      background-color: #fafafa;
      position: relative;
      .header-left {
        margin: 0em 6em 0em 3.5em;
        @include tags;
        .tags {
          padding-left: 0;
          margin-bottom: 2.5em;
        }
        .name-and-contact {
          display: flex;
          .h1-page-photographer {
            color: $tertiary-color;
            font-size: 4em;
            margin-right: 1em;
            margin-bottom: 0;
          }
          button {
            background-color: $primary-color;
            color: white;
            border: $primary-color;
            border-radius: 0.31em;
            height: 3em;
            font-size: 1em;
            padding: 0em 1em;
            margin: 5em 10em 0em 0em;
            cursor: pointer;
          }
        }
        .city {
          color: $primary-color;
          font-size: 1.5em;
        }
        .slogan {
          color: gray;
          font-size: 1em;
        }
      }
      aside {
        position: absolute;
        right: 1em;
        img {
          margin-top: 3.75em;
          width: 14em;
          height: 14em;
        }
      }
    }
  }
  .select-filters {
    display: flex;
    margin-top: 1em;
    position: relative;
    label {
      font-weight: bold;
      margin-right: 1em;
      margin-top: 1em;
    }
    .dropdown-filters {
      background-color: $primary-color;
      border-radius: 0.31em;
      padding: 0em 1em 0em 1em;
      position: absolute;
      left: 100px;
      z-index: 1;
      button {
        color: white;
        background-color: $primary-color;
        border-color: transparent;
        font-family: DM_Sans;
        font-size: 1em;
        padding: 0.9em 0em 0.5em 0.4em;
        .arrow {
          margin-left: 1em;
          cursor: pointer;
        }
        i {
          margin-left: 1em;
        }
        img {
          width: 1em;
          height: 0.7em;
          margin-left: 1em;
        }
      }
      a {
        text-decoration: none;
        color: white;
        padding-left: 0.5em;
        cursor: pointer;
        span {
          margin-right: 1.2em;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        display: none;
        li:first-child {
          border-top: none;
          padding-top: 0;
        }
        .arrow-down {
          color: white;
          margin-left: 1em;
          cursor: pointer;
        }
        li {
          border-top: 1px solid white;
          padding-top: 0.6em;
          padding-bottom: 0.6em;
        }
      }
    }
  }
  .select-filters {
    margin-bottom: 3em;
    select {
      background-color: $primary-color;
      color: white;
      font-family: DM_Sans;
      border-radius: 0.31em;
      border-color: $primary-color;
      .date {
        background-color: red !important;
      }
    }
  }
  .medias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .block-media {
      margin-bottom: 0.5em;
      .media-img-video {
        border-radius: 0.31em;
        object-fit: cover;
        width: 19em;
        height: 19em;
        cursor: pointer;
      }
      .title-and-likes {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        .number-heart {
          display: flex;
          cursor: pointer;
          .like {
            font-weight: bold;
          }
          i {
            margin-left: 0.3em;
          }
        }
      }
    }
  }
}

/* For screen smaller than 870px */
@media screen and (max-width: 870px) {
  #main-page-photographer {
    .page-photographer {
      .header-main {
        .header-left {
          .name-and-contact {
            button {
              position: fixed;
              bottom: 0;
              left: 45%;
              margin: 0em 0em 1.5em 0em;
              height: 2em;
            }
          }
        }
      }
    }
  }
}

/* For screen smaller than 780px */
@media screen and (max-width: 780px) {
  #main-page-photographer {
    .page-photographer {
      .header-main {
        aside {
          right: 0em;
          img {
            width: 10em;
            height: 10em;
          }
        }
      }
    }
    .medias {
      justify-content: center;
    }
  }
}

/* For screen smaller than 600px */
@media screen and (max-width: 600px) {
  #main-page-photographer {
    margin: 2em 1em;
    .page-photographer {
      .header-main {
        background-color: white;
        .header-left {
          margin-left: 0.5em;
          .name-and-contact {
            .h1-page-photographer {
              font-size: 2.5em;
              margin-top: 0;
            }
            button {
              left: 29%;
              font-size: 1.3em;
            }
          }
          .city {
            font-size: 1em;
            margin: 0;
          }
          .slogan {
            margin: 0;
          }
        }
        .tags {
          margin-top: 0;
          .tag {
            li {
              padding-top: 0;
              span {
                font-size: 0.8em;
              }
            }
          }
        }
        aside {
          bottom: 4.5em;
          right: 0em;
          img {
            width: 7.5em;
            height: 7.5em;
          }
        }
      }
    }
    .select-filters {
      display: none;
    }
    .medias {
      justify-content: center;
      .block-media {
        margin-bottom: 0;
        .media-img-video {
          width: 23em;
          height: 13em;
        }
      }
    }
  }
}
