main {
  .scroll-link {
    display: none;
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    left: 44%;
    padding: 0.31em 0.94em;
    border-radius: 0.31em;
    font-weight: bold;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
